@model test.TJobTitle

<h2> New Job Title </h2>


@using (Html.BeginForm("Save", "TJobTitles", FormMethod.Post, new { role = "form", id = "saveForm" })) {


	@Html.ValidationSummary(true)
	@Html.AntiForgeryToken()

	<div class="form-group">
		@Html.HiddenFor(model => model.intJobTitleID)
		@Html.LabelFor(model => model.strJobTitleDesc, "Job Title:")
		@Html.TextBoxFor(model => model.strJobTitleDesc, new { @class = "form-control" })
	</div>

	<button type="submit" class="btn-primary">Save</button>

	@Html.ActionLink("Back To List", "Index", null, new { @style = "margin-left:50px; font-weight:bold;" })
	<div id="msg"></div>
}

