
@{
	ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>

	.body-content {
		position: absolute;
		top: 44%;
		left: 46%;
		margin-top: -140px;
		margin-left: -450px;
		width: 1000px;
		height: 500px;
		background-color: transparent;
		border: outset;
		margin-bottom: auto;
		border-width: thick;
	}

	.inner-div {
		position: absolute;
		top: 5%;
		left: 3%;
	}

	.settingsbtn {
		background-color: DodgerBlue;
		border: solid;
		border-color: #2e6da4;
		color: white;
		padding: 12px 16px;
		font-size: 16px;
		cursor: pointer;
		display: inline-grid;
		width: 200px;
		height: 125px;
		/*font-size: 20px;*/
		color: black;
		margin: 25px;
		border-radius: 25px;
	}
	
</style>


<div class="body-content">
	<div class="inner-div">
		<div style="margin-left:87px; display: flex; flex-wrap: wrap;">

			<button type="submit" class="settingsbtn" name="btnSvcTypes">
				<i class="fas fa-notes-medical" , style="font-size:45px; margin: 15px"></i>
				@Html.ActionLink("Service Types", "Index", "TServiceTypes", null, new { style = "color: #264e70;text-decoration: none;font-weight: 700;" })
			</button>

			<button type="submit" class="settingsbtn" name="btnPetTypes">
				<i class="fas fa-paw" , style="font-size:45px; margin: 15px"></i>
				@Html.ActionLink("Pet Types", "Index", "TPetTypes", null, new { style = "color: #264e70;text-decoration: none;font-weight: 700;" })
			</button>

			<button type="submit" class="settingsbtn" name="btnBreeds">
				<i class="fas fa-dog" , style="font-size:45px; margin: 15px"></i>
				@Html.ActionLink("Breeds", "Index", "TBreeds", null, new { style = "color: #264e70;text-decoration: none;font-weight: 700;" })
			</button>

		</div>

		<br />
		<br />

		<div style="margin-left:87px;display: flex; flex-wrap: wrap;">
			<button type="submit" class="settingsbtn" name="btnMedicationType">
				<i class="fas fa-prescription-bottle-alt" , style="font-size:45px; margin: 15px"></i>
				@Html.ActionLink("Medication Methods", "Index", "TMethods", null, new { style = "color: #264e70;text-decoration: none;font-weight: 700;" })
			</button>
			<button type="submit" class="settingsbtn" name="btnUsers">
				<i class="fas fa-id-badge" , style="font-size:45px; margin: 15px"></i>
				@Html.ActionLink("Users", "Index", "TUsers", null, new { style = "color: #264e70;text-decoration: none;font-weight: 700;" })
			</button>
			<button type="submit" class="settingsbtn" name="btnRole">
				<i class="fas fa-user-tag" , style="font-size:45px; margin: 15px"></i>
				@Html.ActionLink("User Roles", "Index", "TRoles", null, new { style = "color: #264e70;text-decoration: none;font-weight: 700;" })
			</button>

		</div>

		<br />
		<br />

		<div style="margin-left:87px;display: flex; flex-wrap: wrap;">
			<button type="submit" class="settingsbtn" name="btnVisitReason">
				<i class="glyphicon glyphicon-inbox" , style="font-size:45px; margin: 15px"></i>
				@Html.ActionLink("Visit Reasons", "Index", "TVisitReasons", null, new { style = "color: #264e70;text-decoration: none;font-weight: 700;" })
			</button>
		</div>
	</div>

</div>

