@model test.TPet

@{
	ViewBag.Title = "Details";
}

<h2 style="margin-bottom:0px; margin-top:10px">
	@Html.DisplayFor(model => model.strPetName)
</h2>
<p style="margin-left: 25px; font-size:15px">
    <button class="btn-primary" onclick="location.href='@Url.Action("Index", "TPets")';return false;"><i class="fas fa-arrow-left"></i> Pet List</button>
</p>

<style>
    h2 {
        text-decoration:none;
    }

    h2 > a {
        color:black;
        text-decoration:none;
    }

    h2 > a:hover, a:focus {
        color:cornflowerblue;
        text-decoration: none;
    }
	dt {
		white-space: nowrap
	}

	dd {
		white-space: nowrap
	}

    .topnav {
        overflow: hidden;
        background-color: #333;
        height: 40px;
        max-width: 95%;
        margin: auto;
    }

    .topnav > ul {
    list-style: none;
    padding-inline-start: unset;
    }

    .topnav > ul > li {
        float: left;
        color: #9d9d9d;
        text-align: center;
        padding: 10px 60px;
        text-decoration: none;
        font-size: 15px;
    }

    .topnav > ul > li > a {
        color: whitesmoke;
        text-decoration: none;

    }

    .topnav ul li:hover {
        background-color: grey;
        color: black;
     }
    .topnav ul li.active {
        background-color: #6495ed;
        color: white;
     }
</style>

<div class="form-horizontal">
    <div class="topnav">
        <ul>
            <li class="active">@Html.ActionLink("General", "Details", "TPets")</li>
            <li>@Html.ActionLink("Visits", "PetVisits", "TVisits", new { id = Model.intPetID }, null)</li>
            <li>@Html.ActionLink("Vaccinnations", "PetVaccinations", "TVaccinations", new { id = Model.intPetID }, null)</li>
            <li>@Html.ActionLink("Medications", "PetMedications", "TVisitMedications", new { id = Model.intPetID }, null)</li>
        </ul>
    </div>
</div>
<div class="body-content" style="">
	<div class="form-horizontal">
		<div>
			<h4 style="text-decoration: none; padding-top: 10px; padding-left: 10px">
				Pet Details
				<a style="color:#f0ad4e; padding-left: 15px" href='@Url.Action("Edit", "TPets", new { id = Model.intPetID })' ;return false;>  <i class="fas fa-pencil-alt"></i></a>
			</h4>
			<hr style="margin:5px; margin-bottom: 15px" />
			<dl class="dl-horizontal">
				@if (Model.TPetImages.Count > 0) {
					<dt>
						Image
					</dt>
					<dd>
						<img src="/TPetImages/getimg?intPetImageID=@Model.TPetImages.First(f => f.strFileType == ".jpg").intPetImageID" alt="avatar" style="max-height:200px; max-width:200px" />
					</dd>
				}
				else {
					<dt>
						Image
					</dt>
					<dd>
						<img src="~/Content/Images/pawprint.jpg" />
					</dd>
				}



				<dt>
					@Html.DisplayName("Pet Name")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strPetName)
				</dd>

				<dt>
					@Html.DisplayName("Owner")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TOwner.strFirstName)
					@Html.DisplayFor(model => model.TOwner.strLastName)
				</dd>

				<dt>
					@Html.DisplayName("Tag #")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strPetNumber)
				</dd>

				<dt>
					@Html.DisplayName("Microchip ID")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strMicrochipID)
				</dd>


				<dt>
					@Html.DisplayName("Pet Type")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TPetType.strPetType)
				</dd>

				<dt>
					@Html.DisplayName("Gender")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TGender.strGender)
				</dd>

				<dt>
					@Html.DisplayName("Breed")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TBreed.strBreedName)
				</dd>

				<dt>
					@Html.DisplayName("Birthdate")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.dtmDateofBirth)
				</dd>

				<dt>
					@Html.DisplayName("Weight")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.dblWeight)
					lbs
				</dd>

				<dt>
					@Html.DisplayName("Blind")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isBlind)
				</dd>

				<dt>
					@Html.DisplayName("Deaf")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isDeaf)
				</dd>

				<dt>
					@Html.DisplayName("Aggressive")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isAggressive)
				</dd>

				<dt>
					@Html.DisplayName("Deceased")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isDeceased)
				</dd>

				<dt>
					@Html.DisplayName("Allergies")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.isAllergic)
				</dd>

				<dt>
					@Html.DisplayName("Color")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strColor)
				</dd>

				<dt>
					@Html.DisplayName("Notes")
				</dt>

				<dd>
					@Html.DisplayFor(model => model.strNotes)
				</dd>



			</dl>
			<p>
				<button class="btn-warning" onclick="location.href='@Url.Action("Edit", "TPets", new { id = Model.intPetID })';return false;"><i class="fas fa-pencil-alt"></i> Edit</button>
			</p>
		</div>
	</div>
</div>
