@model IEnumerable<test.TPet>

@{
	ViewBag.Title = "Index";
}

<h2>Pets</h2>
<p style="margin-left: 35px">
	<button class="btn-success" onclick="location.href='@Url.Action("Create", "TPets")';return false;">
		<i class="fas fa-plus"></i>  Create New
	</button>
</p>
<style>
	th {
		white-space: nowrap;
	}

	td {
		white-space: nowrap;
	}
</style>


<div class="body-content">

	<div class="form-horizontal">

		<table class="table">
			<tr>

				<th style="white-space:nowrap">
					@Html.DisplayName("Pet Name")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Owner")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Pet Type")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Gender")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Breed")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Birthdate")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Weight")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Color")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Tag Number")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Microchip #")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Blind")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Deaf")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Aggressive")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Deceased")
				</th>
				<th style="white-space:nowrap">
					@Html.DisplayName("Allergies")
				</th>

				<th>
					@Html.DisplayName("View | Edit | Delete")
				</th>
			</tr>

			@foreach (var item in Model) {
		<tr>

			<td>
				@Html.DisplayFor(modelItem => item.strPetName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TOwner.strFirstName)
				@Html.DisplayFor(modelItem => item.TOwner.strLastName)

			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TPetType.strPetType)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TGender.strGender)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TBreed.strBreedName)
			</td>
			<td>

				@Html.DisplayFor(modelItem => item.dtmDateofBirth)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.dblWeight)
				lbs
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.strColor)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.strPetNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.strMicrochipID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.isBlind)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.isDeaf)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.isAggressive)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.isDeceased)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.isAllergic)
			</td>

		<td style="white-space:nowrap">
			<a style="color:#5cb85c; padding-left: 15px" href='@Url.Action("Details", "TPets", new { id = item.intPetID })' ;return false;>  <i class="far fa-eye"></i></a>
			<a style="color:#f0ad4e; padding-left: 15px" href='@Url.Action("Edit", "TPets", new { id = item.intPetID })' ;return false;>  <i class="fas fa-pencil-alt"></i></a>

			@if (item.TPetImages.Count > 0) {
				<a style="color:dimgrey; padding-left: 15px" title="Cannot Delete. Visits are assigned to this pet." return false;>  <i class="fas fa-trash-alt"></i></a>

			}
			else {
				<a style="color:red; padding-left: 15px" href='@Url.Action("Delete", "TPets", new { id = item.intPetID })' ;return false;>  <i class="fas fa-trash-alt"></i></a>
			}
		</td>

		</tr>
			}

		</table>
	</div>
</div>
