@model test.TServiceType


<h2> New Service Type </h2>


@using (Html.BeginForm("Save", "TServiceTypes", FormMethod.Post, new { role = "form", id = "saveForm" })) {


	@Html.ValidationSummary(true)
	@Html.AntiForgeryToken()

<div class="form-group">
	@Html.HiddenFor(model => model.intServiceTypeID)
	@Html.LabelFor(model => model.strServiceType, "Service Type:")
	@Html.TextBoxFor(model => model.strServiceType, new { @class = "form-control" })
</div>

	<button type="submit" class="btn-primary">Save</button>

	@Html.ActionLink("Back To List", "Index", null, new { @style = "margin-left:50px; font-weight:bold;" })
	<div id="msg"></div>
}

