@model test.TUser

<h2> Update User </h2>

@using (Html.BeginForm("Update", "TUsers", FormMethod.Post, new { role = "form", id = "updateForm" })) {
	@Html.ValidationSummary(true)
	@Html.AntiForgeryToken()

	<div class="form-group">
		@Html.HiddenFor(model => model.intUserID)
		@Html.LabelFor(model => model.strUserName, "User Name:")
		@Html.TextBoxFor(model => model.strUserName, new { @class = "form-control", @readonly="readonly"})
	</div>

	<div class="form-group">
		@Html.HiddenFor(model => model.intUserID)
		@Html.LabelFor(model => model.strPassword, "Password:")
		@Html.TextBoxFor(model => model.strPassword, new { @class = "form-control" })
	</div>


	<button type="submit" class="btn-primary">Update</button>

	@Html.ActionLink("Back To List", "Index", null, new { @style = "margin-left:50px; font-weight:bold;" })
	<div id="msg"></div>
}

